* {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}  
body {
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   height: fit-content;
}

nav {
    padding: 10px 10%;
    height: 12vh;
    /* display: flex; */
    background-color: black;

}
nav ul {
    display: flex;

}
nav ul li{
    color: white;
    justify-content: center;
   margin-right: 4%;
   margin-top: 1%;
    list-style: none;
}
nav ul li img {
    width: 100px;
}
nav ul li button {
    margin-left: 300%;
   padding: 7px 25px;
   white-space: nowrap;
   font-size: 20px;
   color: white;
   font-weight: 400;
   border: none;
   background-color: rgb(94, 21, 109);
    border-radius: 10px;
}
.top {
    padding-top: 120px;
    padding-left: 450px;
    
    font-size: 40px;
    color: white;
    
}
.top h1 {
    
    
    font-weight: 1000;
}
.top p {
    font-weight: 100;
    font-size: 25px;
    padding-left: 60px;
}
.bottom  {
    padding-left: 650px;
    padding-top: 40px;
}
.bottom button {
    padding: 18px 35px;
    font-size: 20px;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
    font-weight: 500;
    border: none;
}
